<div class="home">
  <div class="banner">
    <div class="header">
      <h1>It is never too late to get a good career</h1>
    </div>
    <div class="body">
      <img src="/img/love-job.jpg" />
      <div id="signup">
        <div class="header">
          <h3>Take the first step</h3>
          <p>
            Fill out this form to connect with people that will help you get the career you want.
            We connect you to career consultants, resume consultants, and career coaches.
          </p>
        </div>
        <form class="form-horizontal">
          <div class="control-group radio-group">
            <label class="control-label toLeft" id="iNeed">I need:</label>
            <div class="controls">
              <input type="radio" style="display: none;" name="iNeed" value="" checked="checked" />
              <label class="radio">
                <input type="radio" name="iNeed" value="career advice" />Career Advice
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="resume writing" />Resume Writing 
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="coaching" />Coaching 
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="I dont know where to start" />I dont know where to start 
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label toLeft" for="inputEmail">Email:</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="name@email.com" name="email">
            </div>
          </div>
          <div class="control-group">
            <div class="controls" style="text-align: center">
              <button class="btn btn-danger btn-large" type="submit" >Get Started</button>
            </div>
          </div>
        </form>     
      </div>
    </div>
  </div> <!-- /banner -->
  <div class="footer">
    <h2><i class="orange">Career Change Me</i> provides guidance and tools to make a successful career change</h2>
    <p>At <i class="orange">Career Change Me</i> we connect you to people that will spell out the necessary 
       steps and provide the help that will allow you make the transition. 
       If you are not sure what career you would like or have no clue how to even 
       get into that industry we will help you. <i class="orange">Career Change Me</i> is a third party 
       site. We connect you to knowledgeable experts.
    </p>
  </div>
</div>
