<div class="home">
  <img src="/img/career-banner.jpg" />
  <div class="row">
    <div class="span6">
      <div id="signup">
        <div class="header">
          <h3>Take the first step</h3>
          <p>
            Fill out this form to connect with people that will help you get the career you want.
            We connect you to career consultants, resume consultants, and career coaches.
          </p>
        </div>
        <form>
          <div class="control-group radio-group">
            <label class="control-label toLeft" id="iNeed">I need:</label>
            <div class="controls">
              <input type="radio" style="display: none;" name="iNeed" value="" checked="checked" />
              <label class="radio">
                <input type="radio" name="iNeed" value="career advice" />Career Advice
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="resume writing" />Resume Writing 
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="coaching" />Coaching 
              </label>
              <label class="radio">
                <input type="radio" name="iNeed" value="I dont know where to start" />I dont know where to start 
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label toLeft" for="inputEmail">Email:</label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="name@email.com" name="email">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputWhatField">What field would you like to work in:</label>
            <div class="controls">
              <input type="text" id="inputWhatField" name="whatField">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputExperience">Do you have any expeience in this field?:</label>
            <div class="controls">
              <input type="text" id="inputExperience" name="experience">
            </div>
          </div>

          <div class="control-group">
            <div class="controls" style="text-align: center">
              <button class="btn btn-danger btn-large" type="submit" >Get Started</button>
            </div>
          </div>
        </form>     
      </div>
    </div>
    <div class="span6 col2">
      <h2><b class="blue">Career Change</b> provides guidance and tools to make a successful career change</h2>
      <p>At <b class="blue">Career Change</b> we connect you to people that will spell out the necessary 
         steps and provide the help that will allow you make the transition. 
         If you are not sure what career you would like or have no clue how to even 
         get into that industry we will help you. <b class="blue">Career Change</b> is a third party 
         site. We connect you to knowledgeable experts.
      </p>
    </div>
  </div>
</div>
